.stat__table * {
    border: none;
}
.stat__table {
    width: 100%;
    border: 1.01px solid black;
    border-collapse: collapse;
}

.stat__table thead td {
    border-bottom: 1px solid black;
}

.stat__table tbody:nth-child(2n) {
    background-color: blanchedalmond;
}

.stat__table tbody:nth-child(2n) td {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.stat__table tbody:nth-child(2n) td[rowspan] {
    border-bottom: 1px solid black;
}

.stat__table tbody:nth-child(2n) td:last-child {
    border-right: 1px solid black;
}

.stat__table td {
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 2px 5px;
}

.stat__table td:last-child {
    border-right: none;
}

.stat__table tbody tr:last-child {
    border-bottom: 1.01px solid black;
    padding-bottom: 5px;
}

.stat__table tbody tr:first-child td {
    padding-top: 5px;
}

.stat__table td[rowspan] {
    vertical-align: top;
    border-bottom: 1px solid black;
}

.stat__table tbody:last-child tr:last-child td {
    border-bottom: none;
}

.stat__clean-progress {
    margin-top: 15px;
    border: 1px solid red;
}

.stat__nothing {
    font-style: italic;
    margin-top: 15px;
}