.settings {
    display: flex;
    flex-direction: column;
}

.settings__button {
    margin-top: var(--gap-medium);
    height: var(--button-big-size, 55px);
    font-size: var(--button-font-size);
}

.settings__clean-stat {
    border: 1px solid red;
}